.timer-content {
    padding: 1rem;
}

.timer-settings {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.timer-settings label {
    padding: 0.5rem;
    font-weight: bold;
    font-size: 1.25rem;
}

.select-input {
    border: 2px solid #000000;
    border-radius: 6px;
    padding: 0.05rem;
    background-color: #ffffff;
    color: #000000;
    cursor: pointer;
    transition: background-color 0.5s ease;
}