.timer-content {
    padding: 2rem;
}

.timer-settings {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.timer-settings label {
    padding: 0.5rem;
    font-weight: bold;
    font-size: 1rem;
}

.timer-settings button {
    padding: 0.5rem;
    font-weight: bold;
    font-size: 1rem;
    border: 2px solid #000000;
    border-radius: 6px;
    background-color: #3c60f1;
    color: #eae9e9;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.timer-settings button:hover {
    background-color: #2318f0;
}

.select-input {
    border: 2px solid #000000;
    border-radius: 6px;
    padding: 0.05rem;
    background-color: #ffffff;
    color: #000000;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.select-input:hover {
    background-color: #cfcfcf;
}

.item-selection {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.item-selection p {
    font-size: 14px;
}

.item-selection input {
    width: 1.25rem;
    height: 1.25rem;
    cursor: pointer;
    transition: background-color 0.5s ease, width 0.25s ease, height 0.25s ease;
}

.item-selection input:hover {
    background-color: #cfcfcf;
    width: 1.5rem;
    height: 1.5rem;
}

.timer-game-guesser {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.inline-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.item-pickup-time-display p {
    font-size: 1.75rem;
}

.timer-game-guesser input {
    border: 2px solid #000000;
    border-radius: 6px;
    padding: 0.05rem;
    background-color: #ffffff;
    color: #000000;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.5s ease;
}

table {
    border-collapse: separate;
    border-spacing: 0 5px;
    overflow: hidden;
    width: 100%;
}

th {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

th,
td {
    padding: 5px;
    text-align: center;
}

td {
    border-bottom: 1px solid #ccc;
}

@keyframes flash {
    0% {
        filter: brightness(1);
    }

    50% {
        filter: brightness(1.8);
    }

    100% {
        filter: brightness(1);
    }
}

@keyframes flyIn {
    from {
        transform: translateX(50px);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.round-updated {
    animation: flash 0.7s ease-in-out;
}

.round-new {
    animation: flyIn 0.7s ease-out;
}

@media (max-width: 758px) {
    .item-selection {
        flex-direction: column;
        gap: 5px;
    }

    .timer-game-guesser {
        flex-direction: column;
        gap: 5px;
    }

    .timer-settings {
        flex-direction: column;
        gap: 5px;
    }
}