@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

@layer base {
  h1 {
    @apply text-3xl font-bold;
  }

  h2 {
    @apply text-2xl font-bold;
  }

  h3 {
    @apply text-xl font-bold;
  }
}

.slide-button {
  display: inline;
  padding: 8px;
  border: none;
  background-color: transparent;
  position: relative;
  border-bottom: 1px solid rgb(143, 7, 7);
  cursor: pointer;
  margin: 5px;
  z-index: 1;
  transition: color 0.4s ease;
  overflow: hidden;
}

.slide-button:hover {
  color: black;
}

.slide-button::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: rgb(207, 2, 2);
  transition: height 0.4s ease;
  z-index: -1;
}

.slide-button:hover::before {
  height: 100%;
}

.nav-wrapper {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  margin-left: -3rem;
  margin-right: -3rem;
  width: auto;
}

.loading-spinner {
  width: 48px;
  height: 48px;
  border: 5px solid #FFF;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}