.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: calc(var(--spacing) * 5);
    box-shadow: 0px 10px 15px rgb(14, 14, 14);
}

.nav-text {
    color: white;
    transition: color 0.4s ease;
    font-weight: bold;
}

.nav-text:hover {
    color: gray;
}

.nav-text.active {
    color: red;
}