.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    width: 100%;
    padding: calc(var(--spacing) * 5);
    box-shadow: 0px 10px 15px rgb(14, 14, 14);
}

.nav-text {
    color: white;
    transition: color 0.4s ease;
    font-weight: bold;
}

.nav-text:hover {
    color: gray;
}

.nav-text.active {
    color: red;
}

@media (max-width: 1024px) {
    .nav-bar {
        padding: calc(var(--spacing) * 2);
    }
}

@media (min-width: 1024.01px) {
    .other-links {
        padding-right: 1.25rem;
    }
}