.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.modal-content {
    background-color: #212121;
    border-radius: 8px;
    width: 70%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 3;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    background-color: #353535;
    padding: 20px;
    border-radius: 8px 8px 0 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 3;
    border-bottom: 1px solid #b7b7b7;
}

.modal-body {
    padding: 20px;
}